﻿@model WEBORG.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">@Model.Urunler.Count() @WEBORG.Resources.Lang.all_items</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">@WEBORG.Resources.Lang.view_details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">@Model.Kisiler.Count() @WEBORG.Resources.Lang.all_users</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">@WEBORG.Resources.Lang.view_details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">@Model.Kategoriler.Count() @WEBORG.Resources.Lang.all_categories</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">@WEBORG.Resources.Lang.view_details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">@Model.Order.Count() @WEBORG.Resources.Lang.all_orders</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">@WEBORG.Resources.Lang.view_details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="card-header">
    <i class="fas fa-table"></i>
    @WEBORG.Resources.Lang.users
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>@WEBORG.Resources.Lang.user_id</th>
                    <th>@WEBORG.Resources.Lang.user_txt</th>
                    <th>@WEBORG.Resources.Lang.name_txt</th>
                    <th>@WEBORG.Resources.Lang.surname_txt</th>
                    <th>@WEBORG.Resources.Lang.mail_txt</th>
                    <th>@WEBORG.Resources.Lang.pass_txt</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>@WEBORG.Resources.Lang.user_id</th>
                    <th>@WEBORG.Resources.Lang.user_txt</th>
                    <th>@WEBORG.Resources.Lang.name_txt</th>
                    <th>@WEBORG.Resources.Lang.surname_txt</th>
                    <th>@WEBORG.Resources.Lang.mail_txt</th>
                    <th>@WEBORG.Resources.Lang.pass_txt</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model.Kisiler)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.KullanıcıAdı</td>
                        <td>@item.Ad</td>
                        <td>@item.Soyad</td>
                        <td>@item.Email</td>
                        <td>@item.Sifre</td>
                        <td>
                            @if (Session["KullanıcıAdı"].ToString() != "moderator")
                            {
                                @Html.ActionLink(WEBORG.Resources.Lang.delete, "Sil", "Yonetim", new { item = item.ID }, new { @class = "btn btn-danger btn-xs" })
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
