﻿@model WEBORG.Models.Kategoriler
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">@WEBORG.Resources.Lang.add_category</div>
            <div class="card-body">
                @Html.ValidationSummary(true)
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control", id = "user", placeholder = WEBORG.Resources.Lang.category_id })
                            @Html.ValidationMessageFor(x => x.KategoriAdi, "", new { @class = "text-danger" })
                            <label for="user">@WEBORG.Resources.Lang.category_id</label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value=@WEBORG.Resources.Lang.add_category />

                </form>
            </div>
        </div>
    </div>

}
