﻿@model WEBORG.Models.Urunler
@{
    ViewBag.Title = "UrunGuncelle";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

<h2>@WEBORG.Resources.Lang.upd_item</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UrunId)

        <div class="form-group">
            @Html.Label(WEBORG.Resources.Lang.item_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunAdı, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunAdı, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WEBORG.Resources.Lang.item_price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunUcreti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunUcreti, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WEBORG.Resources.Lang.item_image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunResmi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunResmi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label(WEBORG.Resources.Lang.item_info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunAciklama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunAciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=@WEBORG.Resources.Lang.save class="btn btn-default" />
            </div>
        </div>

        <div class="input-group">
            @if (ViewBag.Result != null)
            {
                <div class="alert alert-@ViewBag.Status" role="alert">
                    @ViewBag.Result
                </div>
            }
        </div>
    </div>
}


