﻿@model WEBORG.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}


@Html.ActionLink(WEBORG.Resources.Lang.add_item, "UrunEkle", "Yonetim", null, new { @class = "btn btn-primary btn-xs" })
<br />
@Html.ActionLink(WEBORG.Resources.Lang.add_category, "KategoriEkle", "Yonetim", null, new { @class = "btn btn-primary btn-xs" })

<div class="row" style="margin-top:20px">
    @foreach (var item in Model.Urunler)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src=@item.UrunResmi alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        @item.UrunAdı
                    </h4>
                    <h5>@item.UrunUcreti TL</h5>
                    <p class="card-text">@item.UrunAciklama</p>
                </div>
                <div class="card-footer">
                    @if (Session["KullanıcıAdı"].ToString() == "admin")
                    {
                        @Html.ActionLink(WEBORG.Resources.Lang.dell_item, "UrunSil", "Yonetim", new { urunId = item.UrunId }, new { @class = "btn btn-danger btn-block" });
                        @Html.ActionLink(WEBORG.Resources.Lang.upd_item, "UrunGuncelle", "Yonetim", new { urunId = item.UrunId }, new { @class = "btn btn-info btn-block" });

                    }
                </div>
            </div>
        </div>
    }

</div>
