﻿@model WEBORG.Models.Urunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_LayoutYonetim.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">@WEBORG.Resources.Lang.add_item</div>
            <div class="card-body">
                @Html.ValidationSummary(true)
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.UrunAdı, new { @class = "form-control", id = "user", placeholder = "Kullanıcı Adınız" })
                            @Html.ValidationMessageFor(x => x.UrunAdı, "", new { @class = "text-danger" })
                            <label for="user">@WEBORG.Resources.Lang.item_id</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextAreaFor(x => x.UrunAciklama, new { @class = "form-control", id = "user", placeholder = WEBORG.Resources.Lang.item_info })
                            @Html.ValidationMessageFor(x => x.UrunAciklama, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.UrunUcreti, new { @class = "form-control", id = "inputEmail", placeholder = WEBORG.Resources.Lang.item_price })
                            @Html.ValidationMessageFor(x => x.UrunUcreti, "", new { @class = "text-danger" })
                            <label for="inputEmail">@WEBORG.Resources.Lang.item_price</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.DropDownListFor(x => x.Kategori.KategoriId, (List<SelectListItem>)ViewBag.Kategoriler, WEBORG.Resources.Lang.select_category, new { @class = "dropdown form-control" })
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary btn-block" value=@WEBORG.Resources.Lang.add_item />

                </form>
            </div>
        </div>
    </div>

}


