﻿
@{
    ViewBag.Title = "Completed";
    if (Session["KullanıcıAdı"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="col-lg-12">
    <h2>@WEBORG.Resources.Lang.complete1</h2>
</div>
<div class="col-lg-12">
    <p>
        @WEBORG.Resources.Lang.complete2
    </p>
</div>