﻿@model IEnumerable<WEBORG.Models.Urunler>
@{
    ViewBag.Title = "Filtrele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
<div class="col-lg-9">
    <h1>@ViewBag.Kategori</h1>
    <hr />
    <div class="alert alert-warning" role="alert" style="margin-top:10px">
        @Model.Count() @WEBORG.Resources.Lang.item_found
    </div>
    <div class="row">
        <h3>@ViewBag.Sonuc</h3>
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src=@item.UrunResmi alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.ActionLink(item.UrunAdı, "Urun", "Home", new { urunId = item.UrunId }, null)
                        </h4>
                        <h5>@item.UrunUcreti TL</h5>
                        <p class="card-text">@item.UrunAciklama</p>
                    </div>
                    <div class="card-footer">
                        @Html.ActionLink(WEBORG.Resources.Lang.add_cart, "SepeteEkle", "Home", new { urunId = item.UrunId }, new { @class = "btn btn-primary btn-block" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

}