﻿@model WEBORG.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Index";
    if (Session["Adı"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-lg-3">
        <h1 class="my-4">@WEBORG.Resources.Lang.category</h1>
        <div class="list-group">
            @foreach (var item in Model.Kategoriler)
            {
                @Html.ActionLink(item.KategoriAdi, "Filtrele", "Home", new { kategoriId = item.KategoriId, kategori = item.KategoriAdi }, new { @class = "list-group-item" })
            }
        </div>
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
        <div class="alert alert-warning" role="alert" style="margin-top:10px">
            @Model.Urunler.Count() @WEBORG.Resources.Lang.item_found
        </div>
        <div class="row" style="margin-top:20px">
            @foreach (var item in Model.Urunler)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src=@item.UrunResmi alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.ActionLink(item.UrunAdı, "Urun", "Home", new { urunId = item.UrunId }, null)
                            </h4>
                            <h5>@item.UrunUcreti TL</h5>
                            <p class="card-text">@item.UrunAciklama</p>
                        </div>
                        <div class="card-footer">
                            @Html.ActionLink(WEBORG.Resources.Lang.add_cart, "SepeteEkle", "Home", new { urunId = item.UrunId }, new { @class = "btn btn-primary btn-block" })
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <!-- /.col-lg-9 -->
</div>
<!-- /.row -->