﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/all.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">@WEBORG.Resources.Lang.login</div>
            <div class="card-body">
                @if (ViewBag.Mesaj != null)
                {
                    <div class="alert alert-@ViewBag.Alert">
                        @ViewBag.Mesaj
                    </div>
                }
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBox("KullanıcıAdı", null, new { @class = "form-control", id = "KullanıcıAdı", placeholder = "Kullanıcı Adı", required = "required", autofocus = "autofocus" })
                            <label for="KullanıcıAdı">@WEBORG.Resources.Lang.user_txt</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.Password("Sifre", null, new { @class = "form-control", id = "inputPassword", placeholder = "Şifre", required = "required" })
                            <label for="inputPassword">@WEBORG.Resources.Lang.pass_txt</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                @WEBORG.Resources.Lang.remember_pass
                            </label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value=@WEBORG.Resources.Lang.login />
                </form>
                <div class="text-center">
                    @Html.ActionLink(WEBORG.Resources.Lang.register, "Sign", "Home", null, new { @class = "d-block small mt-3" })
                    @Html.ActionLink(WEBORG.Resources.Lang.lost_pass, "SifreHatirlama", "Home", null, new { @class = "d-block small" })
                </div>
            </div>
        </div>
    </div>
}