﻿@model WEBORG.Models.Siparis
@{
    ViewBag.Title = "OdemeYap";
    if (Session["KullanıcıAdı"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<link href="~/Content/sb-admin.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@WEBORG.Resources.Lang.orderinfo</h2>
            <hr />
            @using (Html.BeginForm())
            {
                <form>
                    @Html.ValidationSummary()
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>@WEBORG.Resources.Lang.name_txt @WEBORG.Resources.Lang.surname_txt </label>
                            <span>@Session["Adı"] @Session["Soyadı"]</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">@WEBORG.Resources.Lang.adres</label>
                        @Html.TextBoxFor(x => x.Adres, new { @class = "form-control", id = "inputEmail4", placeholder = @WEBORG.Resources.Lang.adres })
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">@WEBORG.Resources.Lang.city</label>
                        @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control", id = "inputEmail4", placeholder = WEBORG.Resources.Lang.city })
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">@WEBORG.Resources.Lang.postal_code</label>
                        @Html.TextBoxFor(x => x.PostaKodu, new { @class = "form-control", id = "inputEmail4", placeholder = WEBORG.Resources.Lang.postal_code})
                    </div>

                    <button type="submit" class="btn btn-primary">@WEBORG.Resources.Lang.pay</button>
                </form>
            }
        </div>
    </div>
</div>

