﻿@model WEBORG.Models.Cart
@{
    ViewBag.Title = "Sepet";
    if (Session["KullanıcıAdı"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">@WEBORG.Resources.Lang.cart2</div>
        <div class="card-body">
            @if (Model.CartLines.Count > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@WEBORG.Resources.Lang.item_count</th>
                            <th>@WEBORG.Resources.Lang.item_id</th>
                            <th>@WEBORG.Resources.Lang.item_price</th>
                            <th>@WEBORG.Resources.Lang.subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartLines)
                        {
                            <tr>
                                <td></td>
                                <td>@item.Adet</td>
                                <td>@item.Urunler.UrunAdı</td>
                                <td>@item.Urunler.UrunUcreti</td>
                                <td>@((item.Urunler.UrunUcreti * item.Adet).ToString("c"))</td>
                                <td>@Html.ActionLink(WEBORG.Resources.Lang.dell_item, "SepettenCıkar", "Home", new { urunId = item.Urunler.UrunId }, new { @class = "btn btn-danger" })</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>@Model.ToplamUcret().ToString("c")</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                if (Session["KullanıcıAdı"] != null)
                {
                    @Html.ActionLink(WEBORG.Resources.Lang.cart3, "OdemeYap", "Home", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink(WEBORG.Resources.Lang.login, "Login", "Home", null, new { @class = "btn btn-primary" })
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <h3>@WEBORG.Resources.Lang.noitem</h3>
                </div>
            }
        </div>
    </div>
</div>
