﻿@model WEBORG.Models.Kisiler
@{
    ViewBag.Title = "Sign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/all.min.css" rel="stylesheet" />
<link href="~/Content/sb-admin.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">@WEBORG.Resources.Lang.register</div>
            <div class="card-body">
                @Html.ValidationSummary(true)
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", id = "firstName", placeholder = WEBORG.Resources.Lang.name_txt, autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
                                    <label for="firstName">@WEBORG.Resources.Lang.name_txt</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", id = "lastName", placeholder = WEBORG.Resources.Lang.surname_txt })
                                    @Html.ValidationMessageFor(x => x.Soyad, "", new { @class = "text-danger" })
                                    <label for="lastName">@WEBORG.Resources.Lang.surname_txt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.KullanıcıAdı, new { @class = "form-control", id = "user", placeholder = WEBORG.Resources.Lang.user_txt })
                            @Html.ValidationMessageFor(x => x.KullanıcıAdı, "", new { @class = "text-danger" })
                            <label for="user">@WEBORG.Resources.Lang.user_txt</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "inputEmail", placeholder = WEBORG.Resources.Lang.mail_txt })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                            <label for="inputEmail">@WEBORG.Resources.Lang.mail_txt</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.PasswordFor(x => x.Sifre, new { @class = "form-control", id = "inputPassword", placeholder = WEBORG.Resources.Lang.pass_txt })
                                    @Html.ValidationMessageFor(x => x.Sifre, "", new { @class = "text-danger" })
                                    <label for="inputPassword">@WEBORG.Resources.Lang.pass_txt</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-label-group">
                                    @Html.PasswordFor(x => x.SifreTekrar, new { @class = "form-control", id = "confirmPassword", placeholder = WEBORG.Resources.Lang.pass2_txt })
                                    @Html.ValidationMessageFor(x => x.SifreTekrar, "", new { @class = "text-danger" })
                                    <label for="confirmPassword">@WEBORG.Resources.Lang.pass2_txt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value=@WEBORG.Resources.Lang.register />

                </form>
                <div class="text-center" style="bottom:0px">
                    @Html.ActionLink(WEBORG.Resources.Lang.login, "Login", "Home", null, new { @class = "d-block small mt-3" })
                </div>
            </div>
        </div>
    </div>

}

