﻿@model WEBORG.Models.Order

@{
    ViewBag.Title = "SiparisDetay";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@WEBORG.Resources.Lang.order_details</h2>
            <hr />
            <dl class="row">

                <dt class="col-sm-3">@WEBORG.Resources.Lang.order_id</dt>
                <dt class="col-sm-9">@Model.Id</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.order_no</dt>
                <dt class="col-sm-9">@Model.SiparisNo</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.total</dt>
                <dt class="col-sm-9">@Model.Toplam</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.order_date</dt>
                <dt class="col-sm-9">@Model.OrderDate</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.adres</dt>
                <dt class="col-sm-9">@Model.Adres</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.city</dt>
                <dt class="col-sm-9">@Model.Sehir</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.postal_code</dt>
                <dt class="col-sm-9">@Model.PostaKodu</dt>

                <dt class="col-sm-3">@WEBORG.Resources.Lang.items</dt>
                <dt class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>@WEBORG.Resources.Lang.item_image</th>
                                <th>@WEBORG.Resources.Lang.item_id</th>
                                <th>@WEBORG.Resources.Lang.item_count</th>
                                <th>@WEBORG.Resources.Lang.item_price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Orderlines)
                            {
                                <tr>
                                    <td><img src="@item.Urunler.UrunResmi" width="100" /></td>
                                    <td>@item.Urunler.UrunAdı</td>
                                    <td>@item.Adet</td>
                                    <td>@item.ucret</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </dt>
            </dl>
        </div>
    </div>
</div>