﻿@model WEBORG.ViewModel.UrunViewModel
@{
    ViewBag.Title = "Urun";
    if (Session["KullanıcıAdı"] != null)
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<link href="~/Content/shop-item.css" rel="stylesheet" />

<div class="card mt-4">
    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    <div class="card-body">
        <h3 class="card-title">@Model.Urun.UrunAdı</h3>
        <h4>@Model.Urun.UrunUcreti TL</h4>
        <p class="card-text">@Model.Urun.UrunAciklama</p>
        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        @Html.ActionLink(WEBORG.Resources.Lang.add_cart, "SepeteEkle", "Home", new { urunId = Model.Urun.UrunId }, new { @class = "btn btn-primary btn-block" })
    </div>
</div>

<div class="card card-outline-secondary my-4">
    <div class="card-header">
        @WEBORG.Resources.Lang.comments
    </div>
    <div class="card-body">
        @foreach (var item in Model.Yorumlar)
        {
            <p>@item.Yorum</p>
            <small class="text-muted">@item.KullanıcıAdı <br /> @item.YorumTarihi</small>
            <hr>
        }
        @if (Session["KullanıcıAdı"] != null)
        {
            using (Html.BeginForm())
            {
                <form>
                    @Html.TextArea("yorum", "", new { @class = "form-control", rows = "3" })
                    @Html.Hidden("KullanıcıAdı", Session["KullanıcıAdı"])
                    @Html.Hidden("urunId", Model.Urun.UrunId)
                    <input class="btn btn-primary btn-block" type="submit" value=@WEBORG.Resources.Lang.add_comment />
                </form>
            }
        }
    </div>
</div>

