﻿@model IEnumerable<WEBORG.Models.Order>
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/profile.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        @WEBORG.Resources.Lang.change_photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Session["KullanıcıAdı"]
                    </h5>
                    <h6>
                        @(Session["Adı"].ToString() + " " + Session["Soyadı"].ToString())
                    </h6>
                    <p class="proile-rating">@WEBORG.Resources.Lang.rating <span> 8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">@WEBORG.Resources.Lang.about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">@WEBORG.Resources.Lang.order_history</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value=@WEBORG.Resources.Lang.edit_profile />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>@WEBORG.Resources.Lang.user_txt</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Session["KullanıcıAdı"]</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>@WEBORG.Resources.Lang.name_txt</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Session["Adı"]</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>@WEBORG.Resources.Lang.surname_txt</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Session["Soyadı"]</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>@WEBORG.Resources.Lang.mail_txt</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Session["Email"]</p>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>@WEBORG.Resources.Lang.order_no</th>
                                        <th>@WEBORG.Resources.Lang.order_details</th>
                                        <th>@WEBORG.Resources.Lang.total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>@WEBORG.Resources.Lang.order_no</th>
                                        <th>@WEBORG.Resources.Lang.order_date</th>
                                        <th>@WEBORG.Resources.Lang.total</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.SiparisNo</td>
                                            <td>@item.OrderDate</td>
                                            <td>@item.Toplam</td>
                                            <td>
                                                @Html.ActionLink(WEBORG.Resources.Lang.details, "SiparisDetay", "Home", new { siparisId = item.Id }, new { @class = "btn btn-primary btn-lg" })
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

